.all-page__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .inner-page__container {
    display: flex;
    flex: 1;

    .side-nav {
      box-shadow: -9px 0 20px #465a7a1c;
      width: 48px;
      position: relative;
      z-index: 10;
      display: none;
    }

    .page-body {
      background-color: rgb(248, 250, 253);
      flex: 1;
      margin-right: 48px;
      color: $textBasicColor;

      .page-location {
        padding-top: 10px;
        margin: 0 30px;
      }

      .page-headline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;

        .last-update {
          display: none;
        }

        .page-headline__title {
          margin: revert;
        }
      }
    }
  }
}

@media (min-width: 480px) {
  .all-page__container {
    .inner-page__container {
      .side-nav {
        display: block;
      }

      .page-body {
        margin-right: 0;
        .page-headline .last-update {
          display: block;
        }
      }
    }
  }
}
