.parent-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 6px 14px #0000001a;
  padding: 2px 20px;
  margin: 0 10px;

  .parent-card__title {
  }

  .parent-card__childern-container {
    display: flex;
  }
}

// .card {
//   background-color: white;
//   border-radius: 10px;
//   box-shadow: 3px 6px 14px #0000001a;
//   padding: 2px 20px;
//   margin: 0 10px;
// }
