.container-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 6px 14px #0000001a;
  padding: 2px 20px;

  .container-card__title {
    padding: 10px;
    margin-bottom: 5px;
  }

  .container-card__children-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;

    @media (min-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.card {
  background: $cardBackgroundColor;
  color: $textBasicColor;
  border-radius: 10px;
  box-shadow: 3px 3px 11px #465a7a1c;
  padding: 10px;
  min-height: 184px;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid rgba(186, 186, 186, 0.23);

  .card-header {
    display: flex;
    align-items: flex-start;

    .card__more-info_btn {
      margin-right: 0.5rem;
      padding-top: 0.1rem;
      min-width: 1.25rem;
      cursor: pointer;
    }

    .card__more-info_content-container {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      display: flex;
      justify-content: center;

      .card__more-info_content {
        // background: var(--card-background-color);
        position: relative;
        width: 70%;
        top: 38px;
        background-color: white;
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid white;
        box-shadow: 0 10px 20px 10px #00000029;
        line-height: 1.2;
        white-space: pre-line;
        font-size: 0.8rem;
      }
    }
  }

  .card__body {
    .main-data__amount {
      display: block;
      margin: 10px 5px;
    }

    .additional-data__amount {
      margin: 5px;
    }
  }
}

.container-card-child-height {
  min-height: 100px;
}

.main-data-bigger-font {
  font-size: 1.4rem;
}

.main-data-smaller-font {
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .card {
    padding: 16px;
  }
}
