.graph-container {
    width: 100%;

    .graph-container__header {
        display: flex;
        align-items: center;

        .header__title {
            color: $textBasicColor;
        }

        .header__more-info-btn {
            margin-right: 0.5rem;
        }

        .header_actions-button {
            position: absolute;
            left: 15px;
            top: 10px;
            cursor: pointer;
        }
    }
}


@media (min-width: 480px) {
    .graph-container {
        .graph-container__header {
            .header__more-info-btn {
                min-width: 1.25rem;
            }
        }
    }
}