.section-container {
  padding: 52px 0 30px;
  border-top: 1px solid rgb(199 199 199 / 45%);

  .section-container__header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    .section-header__subtitle {
      cursor: pointer;
      position: relative;

      .section-header__seperator {
        margin: 0 15px;
        color: #afb9bf;
      }

      .section-header__arrowBtn {
        margin: 0 3px -3px 0;
      }

      .subtitle__links-container {
        position: fixed;
        top: 115px;
        left: 0;
        height: calc(100vh - 115px);
        width: 100%;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.4);
        animation: fade 0.3s ease-in-out;

        .subtitle__links {
          position: absolute;
          bottom: 0;
          width: 100%;
          background-color: white;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;

          .subtitle__links_line-symbol {
            width: 30px;
            height: 4px;
            border-radius: 30px;
            background-color: rgb(196, 189, 189);
            margin: 15px auto 10px;
          }

          .subtitle__links_title {
            margin: 0 10px 15px 0;
          }

          .links__item {
            display: flex;
            align-items: center;
            padding: 15px;
            color: $textBasicColor;

            .web-icon {
              margin-left: 10px;
              width: 30px;
              height: 30px;
            }

            .links__item_url {
              color: rgb(10, 156, 156);
            }
          }

          .first-link {
            border-bottom: 0.5px solid rgb(235, 219, 219);
          }
        }
      }
    }
  }

  .section-textual-cards {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  .section-graphical-cards {
    margin-top: 1.5rem;
  }
}

.first-section {
  padding-top: 15px;
  border: none;
}

@media (min-width: 500px) {
  .section-container
    .section-container__header
    .section-header__subtitle
    .subtitle__links-container {
    position: absolute;
    top: 30px;
    right: 25px;
    width: 300px;
    height: auto;
    background-color: white;

    .subtitle__links {
      position: static;
      border-radius: 10px;
      box-shadow: 3px 3px 11px #465a7a1c;
      display: grid;
      grid-template-rows: repeat(2, 1fr);

      .subtitle__links_line-symbol,
      .subtitle__links_title {
        display: none;
      }
    }
  }
}

@media (min-width: 768px) {
  .section-container {
    margin-top: 10px;
    padding-bottom: 15px;

    .section-textual-cards {
      margin-bottom: 1rem;
      grid-template-columns: repeat(6, 1fr);
    }

    .section-container__header
      .section-header__subtitle
      .subtitle__links-container {
      width: 400px;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}