.section-container {
  .section-container__header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    .header__seperator {
      margin: 0 15px;
      color: #afb9bf;
    }
  }

  .section-single-cards {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}

@media (min-width: 768px) {
  .section-container {
    margin-top: 10px;
    padding-bottom: 15px;

    .section-single-cards {
      margin-bottom: 1rem;
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
